*{
    padding: 0;
    margin: 0;
    cursor: default;
    font-family: sans-serif;
}

body{
    height: 80vh;
    width: 60vw;
    justify-content: center;
    align-items: center;
   background-image: url("https://picsum.photos/1920/1080");
    object-fit: cover; 
    background-repeat: no-repeat;
    background-size: 100% 100%;
  
}

.countdown{
    display: flex;
    margin-top: 20%;
    margin-left: 8%;
   gap: 8%;
}
.tittle {
   color: white;
   margin: 10%;
   font-size: 30px;
   /* opacity: 80%; */
}
.card{
    height: 15vh;
    width: 10vw;
  
    font-weight: 600;
    margin: 5%;
    font-size: 30px;
    transition: all 0.4s;

}
.card:hover{
    transform: scale(1.2);

}
.card h1{
    font-size: 80px;
    color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
